@import 'global';

.right-wrapper {
  display: grid;
  grid-gap: 5px;
  grid-template-rows: min-content auto;
}
.right-component-wrapper {
  background-color: $light-bg;
  padding: 20px;
  max-width: calc(100% - 40px);
}
.legend-wrapper {
  background-color: $light-bg;
  display: grid;
  align-items: center;
  padding: 20px;
  white-space: nowrap;
  grid-gap: 5px;
}
@media screen and (max-width: 768px) {
 .right-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: min-content auto;
    overflow-y: scroll;
 } 
}