@import 'variables';

.left-wrapper {
	display: grid; 
	grid-gap: 5px;
}
.distance-info {
	display: flex; 
	gap: 20px;
	white-space: nowrap;
}
.left-item-wrapper {
  display: grid;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $light-bg;
}
@media screen and (max-width: 768px) {
  .left-wrapper {
		display: none; 
	}
}