.balls {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 7px; // Space between balls
    margin: auto;
    aspect-ratio: 1; // Maintain square shape automatically
    overflow: hidden; // Prevent overflow
}