.main-wrapper {
  background-color: rgba(227, 218, 201, 1);
  overflow: hidden;
  display: grid;
  grid-template-columns: 19fr 5fr;
  padding: 5px;
  grid-gap: 5px;
}
@media screen and (max-width: 768px) {
  .main-wrapper {
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr;
  }
}