@import 'variables';

.main-wrapper {
  overflow: hidden;
  display: grid;
  grid-template-columns: 160px 19fr 5fr;
  padding: 5px;
  grid-gap: 5px;
  background: $background-color;
}
@media screen and (max-width: 768px) {
  .main-wrapper {
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr;
  }
}