.right-wrapper {
  display: grid;
  grid-gap: 5px;
}
.right-component-wrapper {
  background-color: rgba(249, 244, 241, 1);
  padding: 20px;
  max-width: calc(100% - 40px);
}
.legend-wrapper {
  background-color: rgba(249, 244, 241, 1);
  display: grid;
  align-items: center;
  padding: 20px;
  padding-left: 30px;
  white-space: nowrap;
  font-size: 0.6em;
  grid-gap: 5px;
}
@media screen and (max-width: 768px) {
 .right-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: min-content auto;
    overflow-y: scroll;
 } 
}