body {
  margin: 0;
  overflow: hidden;
  font-family: montserrat;
  background-color: rgba(23, 23, 32, 1);
}
.App {
  overflow: hidden;
  height: calc(var(--vh, 1vh) * 100);
  max-height: calc(var(--vh, 1vh) * 100);
  display: grid;
}